.post-container
{
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:12px;  
    margin-top: 10px;
    border-radius: 6px;
}

#profile-picture{
    border-radius: 50%;
    margin-right: 12px;
}

#post-author{
    margin-left: 12px;
}

#user-data{
    align-items: flex-start;
}

#content{
    border-style: double;
    padding: 10%;
    width: 360px;
}

#post-picture{
    margin: 8px;
}

#user-info{
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}

.post-feed{
    padding: 5%;
    margin: 8px;
    border-style: double;
    background-color: #378156b7;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}


#post{
    padding: 8px;
    margin: 8px;
}

#post-author-picture{
    height: 50px;
    width: 45px;
    border-radius: 8px;
}

#post-metadata{
    display: flex;
    justify-content: space-evenly;
}